version: '3.7'

services:
    app:
        container_name: tealicious-shop
        restart: always
        image: tealicious-shop
        build:
            dockerfile: Dockerfile
            context: .
        depends_on:
            postgres:
                condition: service_healthy
        links:
            - postgres
        environment:
            - RUNTIME_ENV=uat
        command:
            - '/bin/sh'
            - '-c'
            - 'make db_push env=uat && make db_seed env=uat'
        ports:
            - '8888:8888'
        networks:
            - uat_network

    postgres:
        container_name: postgres-db
        restart: always
        image: postgres:latest
        volumes:
            - './.tealicious-volume:/var/lib/postgresql/data'
        environment:
            POSTGRES_USER: 'postgres'
            POSTGRES_PASSWORD: '0000'
            POSTGRES_DB: 'tealicious_db'
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres -d tealicious_db']
            interval: 10s
            timeout: 10s
            retries: 5
        networks:
            - uat_network

networks:
    uat_network:
        name: uat_network
