version: '3.7'

services:
    app:
        container_name: passport-test
        restart: always
        image: passport-test
        build:
            dockerfile: Dockerfile
            context: .
        environment:
            - RUNTIME_ENV=prod
        ports:
            - '8888:8888'
        networks:
            - tealicious_network

networks:
    tealicious_network:
        name: tealicious_network
        external: true
