<html lang='zxx'>

<head>
    <meta charset='UTF-8' />
    <meta name='description' content='WanderStay' />
    <meta name='keywords' content='unica, creative' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Yên Trà Quán</title>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap' rel='stylesheet' />

    <!-- Css Styles -->
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' />
    <link rel='stylesheet' href='css/elegant-icons.css' type='text/css' />
    <link rel='stylesheet' href='css/flaticon.css' type='text/css' />
    <link rel='stylesheet' href='css/owl.carousel.min.css' type='text/css' />
    <link rel='stylesheet' href='css/nice-select.css' type='text/css' />
    <link rel='stylesheet' href='css/jquery-ui.min.css' type='text/css' />
    <link rel='stylesheet' href='css/magnific-popup.css' type='text/css' />
    <link rel='stylesheet' href='css/slicknav.min.css' type='text/css' />
    <link rel='stylesheet' href='css/style.css' type='text/css' />
</head>

<body>
    <!-- Page Preloder -->
    <div id='preloder'>
        <div class='loader'></div>
    </div>

    <!-- Header Section Begin -->
    <header class='header-section header-normal'>
        <div class='top-nav'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6'></div>
                </div>
            </div>
        </div>
        <div class='menu-item'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-2'>
                        <div class='logo'>
                            <a href='/'>
                                <img src='img/logo.png' alt='' />
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-8'>
                        <div class='nav-menu'>
                            <nav class='mainmenu'>
                                <ul>
                                    <li class='active'><a href='/about-us'>Về chúng tôi</a></li>
                                    <li><a href='/contact'>Liên hệ</a></li>
                                    {{#if isLoggedIn}}
                                    <li><a href='/login' style='color: #0650c2'>Đăng xuất</a></li>
                                    {{else}}
                                    <li><a href='/login' style='color: #0650c2'>Đăng nhập</a></li>
                                    <li><a href='/sign-up' style='color: #0650c2'>Tạo tài khoản</a></li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class='col-lg-2'>
                        <div class='nav-menu'>
                            <nav class='mainmenu'>
                                <ul>
                                    <li>
                                        <a href='/cart' style='color: #0650c2'><img href='/cart'
                                                style='color: #333333; width: 20px; ' src='./img/cart-shopping.svg'
                                                alt='' /></a>
                                    </li>
                                    <li>
                                        <img style='color: #333333; width: 20px; ' src='./img/user-profile.svg'
                                            alt='' />
                                        {{customerName}}
                                        <ul class='dropdown'>
                                            <li><a href='/profile'><img style='width: 20px' src='/img/user.png' /> Trang
                                                    cá nhân</a></li>
                                            <li><a href='/change-password'><img style='width: 20px'
                                                        src='/img/key.svg' /> Đổi mật khẩu</a></li>
                                            <li><a href='/logout'><img style='width: 20px' src='/img/log-out.svg' />
                                                    Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- intro-page Section Begin -->
    <div class=''>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='intro-page-text'>
                        <img style='width: 20%' src='./img/wanderstay-login.gif' alt='' />
                        <div class='intro-page-text'>
                            <h2 style='color: #fac26b'>VỀ CHÚNG TÔI!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- intro-page Section End -->

    <!-- About Us Page Section Begin -->
    <section class='aboutus-page-section spad'>
        <div class='container'>
            <div class='about-page-text'>
                <div class='row'>
                    <div class='col-lg-6'>
                        <div class='ap-title'>
                            <h2>Câu chuyện của Yên Trà!</h2>
                            <p>
                                Yên Trà Quán được thành lập từ tháng 3 năm 2021, tiệm được lập nên chỉ với mục đích
                                duy nhất là thoả mãn đam mê bán trà, cũng như giúp cho mọi người được tiếp cận với
                                các loại trà dễ hơn.
                            </p>
                        </div>
                    </div>
                    <div class='col-lg-5 offset-lg-1'>
                        <ul class='ap-services'>
                            <li><i class='icon_check'></i> Chất lượng là tiêu chí đi đầu.</li>
                            <li><i class='icon_check'></i> Cam kết 100% nguồn gốc xuất xứ.</li>
                            <li><i class='icon_check'></i> Thân thiện hướng tới cộng đồng.</li>
                            <li><i class='icon_check'></i> Khách hàng nói Yên Trà lắng nghe.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Page Section End -->

    <!-- Gallery Section Begin -->
    <section class='gallery-section spad'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='section-title'>
                        <span>Triễn lãm trà</span>
                        <h2>"Tách trà An Yên"</h2>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-6'>
                    <div class='gallery-item set-bg' data-setbg='img/gallery/gallery-1.jpg'>
                        <div class='gi-text'>
                            <h3>Đóng gói</h3>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='gallery-item set-bg' data-setbg='img/gallery/gallery-3.jpg'>
                                <div class='gi-text'>
                                    <h3>Hibiscus Cam Quế</h3>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='gallery-item set-bg' data-setbg='img/gallery/gallery-4.jpg'>
                                <div class='gi-text'>
                                    <h3>Vân Nam Phổ Nhĩ</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-lg-6'>
                    <div class='gallery-item large-item set-bg' data-setbg='img/gallery/gallery-2.png'>
                        <div class='gi-text'>
                            <h3>Liên Hoa Ngự Trà</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Section End -->


    <section class='gallery-section spad'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='section-title'>
                        <span>Chúng tôi làm gì?</span>
                    </div>
                </div>
            </div>

            <div class='row center-submit'>
                <h2 class='section-title'>Mục tiêu của Quán</h2>
                <p>
                    Một trong những “đứa con cưng” mà
                    <strong>Yên Trà Quán</strong>
                    tự hào giới thiệu là
                    <strong>LIÊN HOA NGỰ TRÀ</strong>. Từ những búp sen tươi, lá trà thơm,.. được chọn lọc, sơ
                    chế, chế biến kỹ lưỡng và biến tấu từ món trà truyền thống thành những thức uống hảo hạng,
                    hương vị tươi ngon, mới lạ mang đậm chất riêng của
                    <strong>Yên Trà Quán</strong>.

                    <br />Không đơn thuần chỉ là cung cấp sản phẩm mà
                    <strong>Yên Trà Quán</strong>
                    còn gửi gắm vào đó sự thoải mái, thư giãn, lưu giữ trong trái tim mỗi người những ký ức đẹp
                    trong những concept hiện đại, trẻ trung và thoáng đãng
                </p>
                <p>
                    Bằng một trái tim tâm huyết,
                    <strong>Yên Trà Quán</strong>
                    thấu hiểu được rằng, sau những bộn bề cuộc sống, những không gian kín bưng, người ta chỉ muốn đi
                    ra ngoài để được hít thở, thư giãn.
                    <br />

                    Vì muốn giữ gìn từng chút dinh dưỡng quý giá của mẹ thiên nhiên, nên
                    <strong>Yên Trà</strong>
                    luôn ưu tiên lựa chọn áp dụng công nghệ sấy lạnh vào các sản phẩm của mình. Với chúng tôi, sản
                    phẩm đúng chất lượng đến được tay khách hàng chính là một sự thành công!
                    <br />

                    Vì lẽ đó, trà của chúng tôi luôn được đảm bảo về 3 tiêu chí,
                    <strong>sạch – đẹp – an yên</strong>.
                </p>
            </div>
        </div>
    </section>

    <!-- Team Start -->
    <div class='container-xxl py-5'>
        <div class='container'>
            <div class='text-center wow fadeInUp' data-wow-delay='0.1s'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='section-title'>
                            <span>Đội ngũ</span>
                            <h2>Khám phá thành viên</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row g-4'>
                <div class='col-6 wow fadeInUp' data-wow-delay='0.1s'>
                    <div class='rounded shadow overflow-hidden'>
                        <div class='center-submit'>
                            <img class='img-fluid' src='img/21127003.png' alt='' />
                        </div>
                        <div class='text-center p-4 mt-3'>
                            <h5 class='fw-bold mb-0'>Phan Thanh An</h5>
                            <small>Founder</small>
                        </div>
                    </div>
                </div>
                <div class='col-6 wow fadeInUp' data-wow-delay='0.3s'>
                    <div class='rounded shadow overflow-hidden'>
                        <div class='center-submit'>
                            <img class='img-fluid' src='./img/21127014.png' alt='' />
                        </div>
                        <div class='text-center p-4 mt-3'>
                            <h5 class='fw-bold mb-0'>Phạm Hồng Gia Bảo</h5>
                            <small>Founder</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Footer Section Begin -->
    <footer class='footer-section'>
        <div class='container'>
            <div class='footer-text'>
                <div class='row'>
                    <div class='col-lg-4'>
                        <div class='ft-about'>
                            <div class='logo'>
                                <a href='#'>
                                    <img class='img-logo' src='img/logo.png' alt='' />
                                </a>
                            </div>
                            <p>
                                Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn
                                được dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                            </p>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-contact'>
                            <h6>Liên hệ</h6>
                            <ul>
                                <li>0123456789</li>
                                <li>yentraquan@gmail.com</li>
                                <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-newslatter'>
                            <h6>Thông tin mới nhất</h6>
                            <p>Cập nhật những ưu đãi và thông tin mới.</p>
                            <form action='#' class='fn-form'>
                                <input type='text' placeholder='Email' />
                                <button type='submit'><i class='fa fa-send'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='copyright-option'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <ul>
                            <li><a href='#'>Chính sách bán hàng</a></li>
                            <li><a href='#'>Chính sách thanh toán</a></li>
                            <li><a href='#'>Chính sách bảo hành</a></li>
                            <li><a href='#'>Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src='js/jquery-3.3.1.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
    <script src='js/jquery.magnific-popup.min.js'></script>
    <script src='js/jquery.nice-select.min.js'></script>
    <script src='js/jquery-ui.min.js'></script>
    <script src='js/jquery.slicknav.js'></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src='js/main.js'></script>
</body>

</html>